<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <servlet>
  <servlet-name>greet</servlet-name>
  <servlet-class>com.anigna.web.GreetUser</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>greet</servlet-name>
  <url-pattern>/Welcome</url-pattern>
  <!-- http://localhost:8081/Demo/Welcome -->
  </servlet-mapping>
  <servlet>
  <servlet-name>Add</servlet-name>
  <servlet-class>com.anigna.web.Calculator</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Add</servlet-name>
  <url-pattern>/Calculate</url-pattern>
  <!-- http://localhost:8081/Demo/Calculate -->
  </servlet-mapping>
  
</web-app>